body{
	background-color: #141414;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app-wrapper{
	padding-top: 30px;
	margin: 0 auto;
	width: 90%;
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 12fr;
	grid-gap: 20px;

	grid-template-areas: 
	"h h"
	"n c";

}

.app-wrapper-content{
	grid-area: c;
	background-color: #222222;
	border-radius: 15px;
	border: solid rgba(121, 119, 119, 0.279) 1.8px ;
	color: #e1e3e6;
	
}


